{"filter":false,"title":".npmrc","tooltip":"/joannatomassoni.github.io/projects/eloquent-javascript/.npmrc","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1567742084341,"hash":"cef5dc39a0356fdc5c12406f7fc107b230c97c28"}